html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
    color: inherit;
    text-decoration: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'BeVietnam';
    src: url('../assets/fonts/BeVietnam/BeVietnam-Regular.ttf') format('truetype');
    font-weight: normal; /* Maps to 400 */
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'BeVietnam';
    src: url('../assets/fonts/BeVietnam/BeVietnam-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap; 
}


:root {
    --primary-text-color: #000000;
    --hover-text-color: #BEBEBE;
    color: var(--primary-text-color);
    font-family: "BeVietnam", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    background: white;
    z-index: 1000;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.96px;
}

main {
    padding: 0rem 1.5rem;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.72px
}

.project-description {
    margin-top: 14.5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.project-staff {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.5rem;
    width: 38%;
    flex-shrink: 0;
}

.uppercase {
    text-transform: uppercase;
}

.staff-section {
    line-height: 110%;
    letter-spacing: -0.72px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 2rem;
    width: 55%;
    line-height: 110%;
    letter-spacing: -0.96px;
}

.project-images {
    padding: 117px 0;
}

.project-images img {
    width: 100%;
    height: 100%;
}

.workshop-name {
    position: relative;
    padding: 9rem 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.96px;
}

.workshop-name p {
    width: 20rem;
    position: absolute;
    top: 50%;
    right: calc(151px - 1.5rem);
    transform: translateY(-50%);
}

.workshop-name span {
    text-transform: capitalize;
}

.images-grid-0 {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 
    "EVSDA-2 EVSDA-2"
    "EVSDA-3 EVSDA-4"
    "EVSDA-5 EVSDA-5";
}

#EVSDA-2 {
    grid-area: EVSDA-2;
}

#EVSDA-3 {
    grid-area: EVSDA-3;
}

#EVSDA-4 {
    grid-area: EVSDA-4;
}

#EVSDA-5 {
    grid-area: EVSDA-5;
}

.images-grid-1 {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 
    "EVSDA-6 EVSDA-6"
    "mobile-phone mobile-phone"
    "EVSDA-8 EVSDA-9";
}

#EVSDA-6 {
    grid-area: EVSDA-6;
}

#EVSDA-8 {
    grid-area: EVSDA-8;
}

#EVSDA-9 {
    grid-area: EVSDA-9;
}

.mobile-phone-bg {
    position: relative;
    grid-area: mobile-phone;
}

#EVSDA-gif-0 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 22%;
    height: 70%;
}


.images-grid-2 {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 
    "EVSDA-gif-1 EVSDA-gif-1"
    "EVSDA-10 EVSDA-gif-2"
    "EVSDA-11 EVSDA-11";
}

#EVSDA-gif-1 {
    grid-area: EVSDA-gif-1;
}

#EVSDA-10 {
    grid-area: EVSDA-10;
}

#EVSDA-gif-2 {
    grid-area: EVSDA-gif-2;
}

#EVSDA-11 {
    grid-area: EVSDA-11;
}


footer {
    padding: 23px 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-weight: 700;
    line-height: 110%;
}

#more-work {
    font-size: 2rem;
    letter-spacing: -0.96px;
}

.contact {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    letter-spacing: -0.6px;
}

